.dart_tool/
.packages
.pub/
build/
.idea/
.vscode/
*.iml
*.log
*.lock
*.tmp
*.swp
*.swo
*.DS_Store
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
__pycache__/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter/
.env
.env.*
*.g.dart
hive_data/
coverage/
# OS
Thumbs.db
.DS_Store 